body {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#app {
    border: 2px solid black;
    width: 350px;
/*    overflow-y: scroll;  */
}

@media screen and (max-width: 400px) {
    #app {
      width: 300px;
    }
  }

#show-tasks {
    /* height: 300px; */
    border-bottom: 2px solid black;
}

#list-of-tasks {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.task-classic {
    font-size: 25px;
    
    border-bottom: 2px solid black;
    padding: 4px;
    cursor: pointer;
}

.task-classic:hover {
    font-weight: bold;
}

.delete-icon:hover {
    font-size: 30px;
}

.task-not-finished {
    background-color: green;
}

.task-finished {
    text-decoration: line-through;
    background-color: grey;
}

.task-delete {
    float: right;
}

.delete-icon {
    color: red;
}

.add-task-div {
    height: 50px;
}

.task-name {
    box-sizing: border-box;
    width: 100%;
    height: 100%;

    font-size: 30px;
    font-weight: bold;
    text-align: center;
}