
/* FOR GENERAL */

body {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#app {
    border: 2px solid black;
    width: 350px;
}



/* FOR OUTPUT PART */
ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.item {
    font-size: 25px;
    border-bottom: 2px solid black;
}



/* ----- FOCUS ON THIS NOW */

.name {
    margin-left: 10px;
}

.w-80 {
    display: inline-block;
    width: 90%;
}

.w-20 {
    width: 10%;
    display: inline-block;
    text-align: center;
    background-color: red;
}

.w-80, .w-20 {
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
}

.finished-false {
    background-color: grey;
    font-weight: bold;
}

.finished-true {
    text-decoration: line-through;
    background-color: green;
}



/* FOR INPUT PART */
#input {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    height: 50px;
}


@media screen and (max-width: 400px) {
    #app {
        width: 300px;
    }
}